/*--- Estilo para QMainWindow ---*/
QMainWindow{
background-color: #cdd7e4;
}

QtabWidget{
background-color: e5eeff;
}

QMenuBar{
background-color: whitesmoke;
}

QPushButton{
background-color: #E4EAF1;
color: black;
border: none;
border_radius: 5px;
}